/*
Theme Name: VW Bakery
Theme URI: https://www.vwthemes.com/themes/free-bakery-wordpress-theme/
Author: VW Themes
Author URI: https://www.vwthemes.com/
Description: VW Bakery is a delicious looking, sleek, charming, versatile and neatly crafted WordPress theme for bakery, cake and pastry shop, cafe and coffee house, sweet shop, beverages, juice, smoothie and shake centre, multi-cuisine restaurant, food joint, eatery, bread factory, Home Baking Business, Cupcake , Donut Shop, Organic Bakery, Vegan Bakery, bakehouse, muffin shop, candy shop, chocolate, icecream, fruit cake, chocolates, baking classes, suger free cakes, feminine, frozen yogurt, gourmet bakery, gift baskets, milk shakes, any fresh product tastes, Food & Drink, bakes, patisserie, cafes, coffee shop, bakers, cook, biscuit shop, dessert, confectionery, small food joints, cupcakes, wedding cakes, muffins, macarons, beverages parlours, Foodstuffs, hospitality industry, smoothies and cookie shop and similar food business and website. It can be bent to use it for food blogging. By changing the colour scheme from feminine to dark and bold, it can be used for Cafeteria, food providers, suppliers, catering businesses, baked food, fast foods, food court, hotel, ice cream corner, dairy farm. It has a pleasant design which when decorated with mouth-watering images of cakes, pastries, cookies and shakes in the gallery will surely attract every visitor to take a deep look into the site. Banners and sliders are provided that further add to the attractiveness of the site. This bakery WordPress theme is fully responsive, multilingual, minimalist, theme options, post formats cross-browser compatible, Block Editor Styles, Editor Style and RTL writing supportive yielding a modern website. Customization is a powerful tool provided by it to make it look and feel your way. Make your bakery reach every house through the social media icons that are integrated with the theme. It is optimized for search engines to get a good traffic for website. It being coded in clean and secure manner protects website from security breaches.
Requires at least: 5.0
Tested up to: 6.4
Requires PHP: 7.2
Version: 1.6
License: GPLv3.0 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: vw-bakery
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, wide-blocks, block-styles, flexible-header, block-patterns, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, theme-options, translation-ready, threaded-comments, post-formats, rtl-language-support, blog, portfolio, e-commerce

VW Bakery WordPress Theme has been created by VW Themes(vwthemes.com), 2018.
VW Bakery WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */
*{
  margin:0;
  padding:0;
  outline:none;
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word; 
  word-wrap:break-word;
  position:relative;
  background: #fff;
  font-size: 15px; 
  color:#4d4749;
  font-family: 'ABeeZee', sans-serif;
  overflow-x: hidden;
}
img{
  margin:0; 
  padding:0; 
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Merienda One', cursive;
}
p{ 
  font-size:14px; 
  letter-spacing: 1px;
}
a{ 
  text-decoration:none; 
  color: #ff7c93;
}
a:hover{ 
  text-decoration:none; 
  color:#333;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.clear{ 
  clear:both;
}
input.search-field {
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
button{
  padding: 5px;
}
.home .middle-align{
  padding: 0;
}
.middle-align,.blog .middle-align{ 
  margin: 0 auto; 
  padding: 3em 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus, button:focus,select:focus,.search-box button:focus, a:focus span{
  outline: 1px solid #000;
  text-decoration:none !important;
} 
.serach_inner input.search-field:focus, .serach_inner input.search-submit:focus, .closepop a:focus{
  outline: 1px solid #fff;
  text-decoration:none !important;
}
.close:focus, .close:hover {
  color: #fff;
}
.woocommerce-product-details__short-description p a, .entry-content a, #sidebar .textwidget p a, .textwidget p a, #comments p a, .slider .inner_carousel p a{
  color: #52d0cd;
  text-decoration: underline;
}
#our-services form.search-form{
  display: flex;
}
#our-services input[type="submit"], input.button{
  padding: 12px 30px;
}
/*---------- WIDE BLOCKS ------------*/

.alignwide {
  margin-left  : -60px;
  margin-right : -60px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
/*css for block-cover and block-image*/
#our-services .alignfull, #our-services .alignwide{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.services .alignfull img {
  width: 100%;
}
/*Block-button css*/
.wp-block-button.is-style-outline {
  margin: 10px 0;
}
.wp-block-button.is-style-outline a{
  color: #000 !important;
}
/*new added css*/
#sidebar h3 a.rsswidget{
  margin-right: 10px;
}
.wp-block-post-comments-form .comment-reply-title{
  padding-top: 15px;
}
li#comment-2{
  margin-bottom: 10px;
}
#sidebar .wp-block-latest-posts.wp-block-latest-posts__list, #sidebar ul.sub-menu{
  display: block !important;
}
/*footer without classic widgets*/
#footer .widget{
  margin-top: 25px;
  margin-bottom: 25px;
}
#footer .wp-block-tag-cloud a {
  border: solid 1px #fff;
  color: #fff;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
#footer .custom-about-us a.custom_read_more, #sidebar .custom-about-us a.custom_read_more{
  background: #52d1cd;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  margin-left: 0;
}
#footer .custom-about-us .custom_author{
  margin-bottom: 12px;
  margin-top: 12px;
}
#footer label{
  color: #fff !important;
}
#footer .wp-block-heading{
  color: #fff;
}
#footer .wp-block-button.aligncenter, .wp-block-calendar{
  text-align: start;
}
#footer .wp-block-button.aligncenter, #footer .wp-block-button.aligncenter, .wp-block-calendar  a:hover{
  color:#000;
}
#footer .wp-block-calendar a{
  color: #fff;
}
/*---------- ACCESSIBILITY READY ------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h2, .sticky .grid-post-main-box h2{
  background: url(assets/images/pin.png) no-repeat scroll 0 0px;
  padding-left: 40px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: left; 
  margin-right:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
}
.alignright, 
img.alignright { 
  display: inline; 
  float: right;
  margin-bottom:10px;
  margin-left:25px;
}
.aligncenter, 
img.aligncenter {
 clear: both; 
 display: block; 
 margin-left: auto; 
 margin-right: auto; 
 margin-top:0; 
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
input[type="text"],
input[type="email"],
input[type="phno"], 
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 15px 0;
  height:auto;
}
textarea{
  height:auto; 
}
input[type="submit"], input.button {
  text-align:center;
  text-transform:uppercase;
  font-size:12px;
  padding: 15px 30px; 
  background: #ff7c93;
  font-weight:bold;
  color:#fff;
  border: none;
}
div#respond{
  border-top: solid 1px #bcbcbc;
  margin-bottom: 18px;
}
h2#reply-title {
  margin-top: 20px;
}
/* ------------TOPBAR---------------- */
#topbar {
  background: #52d1cd;
  color: #fff;
}
#topbar h3.custom_title {
  display: none;
}
#topbar span.hi_normal i {
  margin-right: 0px;
}
#topbar i {
  margin-right: 5px;
}
#topbar .custom-social-icons{
  text-align: right;
  padding: 10px 0;
}
.location{
  padding: 10px 0;
}
#topbar .custom-social-icons i {
  color: #fff;
  margin-right: 15px;
}

/* cart css*/
.widget_shopping_cart_content {
  display: none;
}
.cart_box:hover .widget_shopping_cart_content {
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  position: absolute;
  top: 40px;
  right: 0;
  display: block;
  background: #fff;
  padding: 15px;
  width: 250px;
  z-index: 999;
}
.cart_box span.woocommerce-Price-amount.amount,
.top-cart-content p {
  font-size: 16px;
  color: #000;
}
.cart_box {
  padding-top: 10px;
  position: absolute;
  background: #ff7c93;
  color: white;
  font-size: 15px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.cart_box:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 12px solid #fff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.cart_box a.button {
  font-size: 12px !important;
}

/* ------------ LOGO ---------------- */

.logo_outer{
  width: 100%;
  height: 190px;
  border-right: 90px solid #ff7c93;
  border-left: 90px solid #ff7c93;
  border-bottom: 30px solid transparent;
}
.logo_static {
  position: static;
}
.logo_outer_box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  overflow: visible;
  z-index: 9999;
}
.logo img {
  max-height: 150px;
  width: 100%;
  padding: 12px;
}
.logo {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
.logo h1 a, .logo p.site-title a {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  font-family: 'Merienda One', cursive;
}
.logo p.site-title {
  margin-bottom: 3px;
  padding: 3px 0px;
}
.logo h1, .logo p.site-title a{
  line-height: 30px;
  padding-top: 0;
}
.logo .site-title a:hover{
  color: #4d4749;
}
p.site-description {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;  
  font-size: 13px;
  margin-bottom: 0;
}

/* ---------SIMPLE HEADER--------- */
.page-template-custom-home-page .home-page-header, .page-template-ibtana-page-template .home-page-header{
  padding: 0;
  background: url(assets/images/headerlinedesign.png) no-repeat scroll 0 10em;
}
.home-page-header {
  background: none;
  padding-bottom: 65px;
  background-size: 100%;
  position: relative;
}
.page-template-ibtana-page-template .middle-align{
  padding: 0em 0 0;
}

/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  margin: 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a{
  display: block;
  color: #bcc0c3;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-navigation a:hover{
  color: #52d1cd;
}
.main-navigation a:focus{
  outline: 1px solid #000;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 70%;
  border-top: 4px solid #ff7c93;
  border-bottom: 4px solid #ff7c93;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #bcc0c3;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  color: #52d1cd;
  padding-left: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  left: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  left: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px solid #000;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-left: none;
  border-right: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-left-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}
/*------------------ category ----------------*/
.post-categories li ,.single-post ul.post-categories{
  display: inline-block;
  padding-left: 0;
}
.post-categories li a {
  margin-right: 8px;
  margin-bottom: 8px;
  color: #fff;
  background: #ff7c93;
  font-weight: 600 !important;
  padding: 8px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.post-categories li a:hover{
  background: #ff7c93;
  color: #fff;
  border-color: #000;
}
.single-post-category span{
  font-weight: 600;
  color: #000;
}
/* ---------RESPONSIVE MENU--------- */
.responsive-menu {
  display: none;
}
/*----------------- SEARCH POPUP ----------------*/
.serach_inner label {
  width: 80% !important;
}
.serach_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.closepop {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  right: 0;
  text-align: right;
  margin-right: 28px;
}
.serach_outer i {
  font-size: 24px;
  padding: 4px 0 0 0;
  color: #bbb;
  cursor: pointer;
}
.serach_inner form.search-form {
 display: table;
 padding: 0;
 border-radius: 0;
 border-bottom: solid 1px #999; 
 margin: 0 auto;
 max-width: 700px;
 width: 100%;
}
.serach_inner input.search-submit {
  padding: 10px 25px;
  background: url(assets/images/search.png) no-repeat scroll 0 8px;
  font-size: 13px;
  text-align: center;
  float: right;
  text-indent: -9999px;
  border: none;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
.serach_inner input.search-field {
  border: none;
  padding: 4px 0;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999;
  margin: 0;
}
.search-box i {
  color: #bcc0c3;
  cursor: pointer;
  padding: 28px 0;
}

/* Headings */
section h2{
  text-align:center; 
  margin:0 0 45px;
  padding:0;
  text-transform:uppercase;
}
section h3{
  text-align:center;
  margin:30px 0 0 0;
  text-transform:uppercase;
}
section h4{
  color:#000; 
  font-size:18px;
}
section h5{
  color:#000; 
  font-size:24px;
  margin:0 0 10px 0;
  padding:0;
}

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
}
#slider img {
  width: 100%;
  object-fit: cover;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  background-image: none;
  font-size: 25px;
  color: #fff;
}
.carousel-control-prev, .carousel-control-next{
  opacity: unset !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  right: 26%;
  left: 25%;
  text-align: center;
}
#slider .inner_carousel{
  height: 0;
  border-top: 130px solid rgb(255, 255, 255, 0.8);
  border-bottom: 130px solid rgb(255, 255, 255, 0.8);
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  position: absolute;
  z-index: 999;  
}
#slider .inner-carousel-conetnt {
  position: relative;
  top: -7.5em;
}
#slider .inner_carousel h1 {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  color: #4d4749;
  margin-top: 15px;
  margin-bottom: 0;
  text-transform: none;
}
#slider .inner_carousel h1 a{
  color: #4d4749;
}
#slider .inner_carousel h1 a:hover{
  color:#ff7c93;
}
#slider .inner_carousel p {
  text-align: center;
  color: #4d4749;
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 10px;
}
.page-template-ibtana-page-template #maincontent {
  position: relative;
}
.carousel-inner:before, .page-template-ibtana-page-template #maincontent:before{
  content: "";
  background-image: url(assets/images/headerlinedesign.png);
  background-size: 100%;
  display: block;
  height: 50px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  top: -2px;
  background-repeat: no-repeat;
}
.more-btn a,
a.content-bttn {
  color: #4d4749;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}
.more-btn a:hover,
a.content-bttn:hover {
  color:#ff7c93;
}
.border-width{
  width: auto !important;
  margin: 15px 0 10px;
  height: auto !important;
}

/* --------- Contact Section ------- */
.main-box {
  background: #fff;
  margin-top: -60px;
  position: relative;
  border: solid 1px #eeeeee;
}
.time {
  background: #52d1cd;
  color:#fff;
  padding: 10px;
  font-weight: 600;
}
.time i{
  margin-right: 5px;
}
.mid-contact {
  padding: 20px;
  border-right: solid 1px #eeeeee;
}
.mid-contact p {
  font-size: 20px;
  color: #ff7c93;
  font-family: 'Merienda One', cursive;
  margin: 0;
  padding: 10px 0;
  text-align: left;
}
.mid-contact span {
  letter-spacing: 1px;
}
.mid-icon i {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.mid-icon {
  background: url(assets/images/icon50.png) no-repeat center 1px;
  padding: 16px 24px;
}
.contact-btn a{
  background: #ff7c93;
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.contact-btn a:hover{
  background: #52d1cd;
}
.contact-btn {
  margin: 45px 0;
  text-align: center;
}

/* --------- Bakery Product ------- */

#bakery-product {
  text-align: center;
  padding: 3% 0;
}
.product-border{
  margin-bottom: 20px;
}
#bakery-product h2 {
  margin-bottom: 0;
  text-transform: none;
  font-size: 30px;
}

/*---------Sticky Header---------*/
.header-fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background: #fff;
  z-index: 999;
  border-bottom: 2px solid #52d1cd;
}
body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed{
  margin-top: 20px !important;
}
/*----------- PRELOADER ----------*/
#preloader {
  background-color: #ff7c93;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  height: 34px;
  width: 34px;
  top: 35px;
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.elementor-page #preloader{
  display: none;
}
/* -------Footer Section----- */
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  font-size: 20px;
  display: none;
  color: #fff !important;
  padding: 10px;
  background: #52d1cd;
  z-index: 999;
}
.scrollup.left i{
  left: 10px;
}
.scrollup.center i{
  left: 50%;
  right: 50%;
}
.custom-social-icons a{
  margin-left: 12px;
  font-size: 18px;
  background: transparent !important;
}
/* --------- Footer ------- */
#sidebar .custom-social-icons i, #footer .custom-social-icons i {
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 1.5;
}
#footer .custom-social-icons i,
#sidebar .custom-social-icons i {
  border: 1px solid #52d1cd;
  color: #52d1cd;
}
#footer .custom-social-icons i:hover,
#sidebar .custom-social-icons i:hover{
  background: #52d1cd;
  color: #fff;
  border-color: #52d1cd;
}
#footer .tagcloud a{
  border: solid 1px #fff;
  color: #fff;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#footer .tagcloud a:hover{
  background: #fff;
  color: #ff7c93;
}
#footer ins span,
#footer .tagcloud a {
  color: #fff;
}
.copyright img{
  text-align: right;
}
#footer .widget {
  padding: 15px 0;
}
#footer input[type="submit"]{
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px;
  width: 100%;
  background: #52d0cd;
  color: #fff;
}
#footer input[type="search"]::placeholder{
  color: #000;
}
#footer label{
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #fff;
  padding: 10px;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
#footer table,
#footer th,
#footer td{
  border: 1px solid #fff;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #fff;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
#footer li a {
  color: #fff;
  font-size: 15px;
}
#footer li a:hover {
  color: #52d1cd;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
  padding-left: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  color: #fff;
  text-align: left;
  background: #ff7c93;
}
#footer h3, #footer .wp-block-search .wp-block-search__label{
  color: #fff;
  font-size: 30px;
  padding:10px 0 10px 0;
  letter-spacing: 1px;
  font-family: 'Merienda One', cursive;
  font-weight: 500;
}
#footer p{
  font-size:17px;
}
.navigate  ul{
  list-style: none;
}
.copyright a,.copyright p {
  color: #fff;
  font-family: 'Merienda One', cursive;
}
.copyright a:hover{
  color: #4d4749;
}
.copyright p{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.copyright h3.custom_title {
  display: none
}
#footer-2{
  background:#52d1cd;
  text-align:center;
  padding:20px 0;
}
#footer .widget_price_filter .ui-slider .ui-slider-range, #footer .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #52d1cd;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#footer ul.product_list_widget li{
  line-height: 25px;
  margin-top: 10px;
}
#footer .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #52d0cd;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
}
#footer .woocommerce-product-search button:hover{
  background: #52d0cd;
}
#footer .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
  width: 100%;
}
#footer .widget_shopping_cart_content {
  display: block;
}
#footer .widget_shopping_cart .cart_list li a.remove, 
#sidebar.widget_shopping_cart .cart_list li a.remove {
  display: none;
}
/* --------- Blog Page ------- */
.entry-audio audio {
  width: 100%;
}
.entry-video video {
  width: 100%;
}
.post-main-box:hover h2 a, .post-main-box:hover a, .grid-post-main-box:hover h2 a, .grid-post-main-box:hover a, .single-post .post-info:hover a  {
  color: #ff7c93;
}
#our-services iframe {
  width: 100%;
}
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
}
#our-services {
  margin-top: 0;
}
.post-main-box, .grid-post-main-box {
  margin-bottom: 5%;
  padding: 20px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 15px 10px -15px #999;
}
.post-main-box h2, .grid-post-main-box h2 {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
}
.post-main-box h2 a, .grid-post-main-box h2 a {
  font-size: 20px;
  color: #4d4749;
  margin-top: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.new-text p,
#our-services p {
  color: #4d4749;
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
  text-align: justify;
}
#our-services .single-post p {
  text-align: left;
}
.post-info {
  color: #4d4749;
  font-size: 12px;
  letter-spacing: 1px;
}
.post-info span {
  margin-right: 1%;
}
.blogbutton-small {
  color: #4d4749;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}
.post-info hr {
  width: 10%;
  border-top: solid 2px #ff7c93;
  margin: 15px 0 0 0;
  opacity: 1;
  border-bottom: none;
}
.tags {
  padding-top: 10px;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.entry-date a, .entry-author a{
  color: #4d4749;
}
.single-post .post-info{
  color:#4d4749;
  clear: both;
  font-size: 12px;
  letter-spacing: 1px;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
}
.single-post .nav-previous a,
.single-post .nav-next a{
  outline: none !important;
  border-bottom: none !important;
}
.post-info i{
  margin-right: 10px;
}
.related-post {
  clear: both;
}
.related-post .post-main-box h2, .related-post .grid-post-main-box h2{
  padding: 0;
}
.related-post h3 {
  padding: 15px 0px 15px;
}
.related-post .new-text p{
  margin-top: 0 !important;
}
/*blog post navigation css*/
nav.navigation.posts-navigation .nav-previous a{
  padding: 15px 15px;
  color: #fff !important;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: left;
  background: #ff7c93;
}
nav.navigation.posts-navigation .nav-next a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: right;
  background: #ff7c93;
}
nav.navigation.posts-navigation .nav-previous a:hover, nav.navigation.posts-navigation .nav-next a:hover{
  background: #52d1cd;
}
nav.navigation.posts-navigation .nav-previous, nav.navigation.posts-navigation .nav-next{
  margin-top: 0;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: left;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
.bradcrumbs{
  padding:10px 0 30px 0px;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:8px 15px;
  margin-right:5px;
}
.bradcrumbs a:hover, .bradcrumbs span{
  background: #ff7c93;
  color: #fff;
}
.bradcrumbs span{
  padding:8px 15px;
  font-weight: 700;
}

/* Comments BOX */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
  padding-left: 0;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  margin-bottom: 10px;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background: #ff7c93;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#ff7c93;
  padding:5px 15px;
}  
#comments a.comment-reply-link:hover{
  background:#ddd;
  color: #000;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments ol li{
  width:100%;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#f5f5f5;
  display:inline-block;
  border: 1px solid #d6d6d6;
}  
#comments ul{
  margin:0 0 0 40px;
}
#comments .reply{
  float:right;
}
#comments .comment-metadata{
  width:90%;
  float:left;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:left;
  margin-left:0%;
}
#comments p {
  width:100%;
  float:left;
}
/*----------single-post-comments---------*/
.comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: left;
}
.comment-meta.commentmetadata {
  float: right;
  width: 50%;
  text-align: right;
}
.comments p {
  width: 90%;
  float: left;
}
.comments .reply {
  float: left;
}
.reply {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
p.comment-form-comment label {
  display: block;
}
/*---------------- Sidebar------------- */

#sidebar .social_widget {
  border: 1px solid #e1e1e1;
  margin-bottom: 25px;
  padding: 15px;
  text-align: center;
}
#sidebar .social_widget i {
  background: #ff7c93;
  width: 35px;
  text-align: center;
  height: 35px;
  color: #fff;
  padding: 10px;
  margin-bottom: 5px;
}
#sidebar .social_widget i:hover{
  background: #52d1cd;
}
#sidebar td#prev a {
  color: #4d4749;
}
#sidebar caption {
  font-weight: bold;
  color: #4d4749;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #4d4749;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #4d4749;
}
#sidebar select {
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #4d4749;
  background: transparent;
}
#sidebar form{
  text-align: center;
}
#sidebar h3, #sidebar .wp-block-search .wp-block-search__label,  #sidebar .wp-block-heading{
  font-size: 16px;
  display: table;
  color: #4d4749;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 0px 10px;
  margin: -28px auto 28px auto;
  font-family: 'Merienda One', cursive;
}
#sidebar .wp-block-search .wp-block-search__label{
  width: auto;
}
#footer .wp-block-search .wp-block-search__inside-wrapper, #sidebar .wp-block-search .wp-block-search__inside-wrapper{
  flex-wrap: wrap;
  display: block;
}
#sidebar input[type="search"], #footer .wp-block-search .wp-block-search__input {
  padding:10px 10px;
  font-size:15px;
  margin-bottom: 10px;
  color:#4d4749;
  border: solid 1px #e1e1e1;
  width: 100%;
}
#footer .wp-block-search .wp-block-search__button{
  background: #52d1cd;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  margin-left: 0;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar input[type="submit"], #sidebar .wp-block-search .wp-block-search__button{
  background: #ff7c93;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  width: 100%;
}
#sidebar .wp-block-search .wp-block-search__button{
  margin-left: 0;
}
#sidebar .widget {
  padding: 20px;
  border: 1px solid #e1e1e1;
  margin-bottom: 50px;
  box-shadow: 0px 15px 10px -15px #999;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}
#sidebar ul li{
  color: #4d4749;
  font-size: 11px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 43px;
}
#sidebar ul li a {
  color: #4d4749;
  letter-spacing: 1px;
  font-size: 15px;
}
#sidebar ul li a:hover {
  color: #52d1cd;
}
#sidebar .tagcloud a{
  border: solid 1px #e1e1e1;
  color:#4d4749;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#sidebar .tagcloud a:hover{
  background:#ff7c93;
  color: #fff;
}
#sidebar .widget_price_filter .ui-slider .ui-slider-range, #sidebar .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #52d1cd;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#sidebar ul.product_list_widget li{
  line-height: 25px;
  margin-top: 10px;
}
#sidebar .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #ff7c93;
  font-weight: bold;
  color: #fff;
  border: none;
}
#sidebar .woocommerce-product-search button:hover{
  background: #52d1cd;
}
#sidebar .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
#sidebar form.woocommerce-product-search{
  border: none;
}
#sidebar .widget_shopping_cart_content {
  display: block;
}
#sidebar .widget_shopping_cart .cart_list li a.remove, #sidebar.widget_shopping_cart .cart_list li a.remove {
  position: absolute;
  top: 5px;
  left: 0;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:left;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:right;
  font-size: 18px;
}
.nav-previous{
  text-align:left;
  font-size: 18px;
}

/* Page */
.error404 .page-content{
  text-align: center;
  margin: 20px 0px 30px 0px;
}
hr{
  border:none;
  border-bottom:2px solid #7e7e7e;
  margin:35px 0; 
  clear:both;
  opacity: 1;
}
.read-moresec{
  margin:2% 0;
}
.page-content, .page-content p {
  text-align: center;
}
.page-content .read-moresec {
  margin: 20px;
  margin-bottom: 20px;
}
.page-content .read-moresec a.error-btn {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
/* Pagination */
p.post-nav-links, .post-nav-links span, .post-nav-links a {
  float: unset !important;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
.pagination {
  clear:both;position:relative;font-size:14px; 
  line-height:13px;
  float:right; 
  font-weight:bold;
  width:100%;
  margin-bottom: 30px;
} 
.pagination span, .pagination a, .post-nav-links span, .post-nav-links a {
  display:block;
  float:left;
  margin: 2px 5px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff;
  background: #ff7c93;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover, .post-nav-links a:hover{
  color:#fff;
  background: #52d1cd 
} 
.pagination .current, span.post-page-numbers.current {
  padding: 10px 15px;
  background: #52d1cd;
  color: #fff;
  font-weight: bold;
}
.pagination ul, .pagination ul li{
  margin:0;
  clear:both;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.post-navigation .post-title { 
  font-size: 20px; 
  font-size: 1.75rem; 
  line-height: 1.25; 
}
/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
}
.nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
.nav-previous {
  width: 50%;
  float: left;
  text-align: left;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
  padding: 15px;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}
/* restore screen-reader-text */
.nav-previous {
  float: left;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation .page-numbers { 
  display: inline-block; 
}
.post-navigation a { 
  color: #1a1a1a; 
}
.single-post .nav-previous a,
.single-post .nav-next a{
  color: #000;
  background: transparent;
}
.single-post .nav-previous a:hover,
.single-post .nav-next a:hover {
  color: #ff7c93;
  background: transparent;
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #4d4749; 
  font-size: 13px;
  letter-spacing: 0.076923077em; 
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title { 
  font-size: 20px; 
  font-weight: 700;  
  line-height: 1.2173913043; 
  text-rendering: optimizeLegibility;
}
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #ff7c93;
}
.post-navigation:before {
  right: 0;
}
.post-navigation:after {
  right: 54px;
}
.post-navigation a:hover,
.post-navigation a:focus {
  color: #1a1a1a;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
/* reset screen-reader-text */
.post-navigation .current .screen-reader-text {
  position: static !important;
}
.post-navigation .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  right: 54px;
}
/*------------- About us widgets --------------*/
#footer a.custom_read_more, #sidebar a.custom_read_more {
  color: #4d4749;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#footer p.custom_author, #sidebar p.custom_author {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 4px;
}
#footer p.custom_designation, #sidebar p.custom_designation {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 4px;
}
#sidebar a.custom_read_more:hover{
  color: #ff7c93;
}
#footer a.custom_read_more:hover {
  color: #fff;
}
.custom-about-us h3.custom_title {
  text-align: left;
}
/*------------- Contact us widgets --------------*/
.custom_details {
  font-size: 15px;
  font-weight: bold;
}
.custom-social-icons input[type="text"], .custom-social-icons input[type="email"], .custom-social-icons textarea {
  margin: 0;
  background: transparent;
}
form.wpcf7-form {
  margin-top: 20px;
}
#sidebar .custom-contact-us form {
  text-align: left;
}
/* ----------Woocommerce----------- */

.products li:hover span.onsale{ 
  background: #ff7c93;
  color: #fff;
}
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: none;
}
.woocommerce span.onsale {
  background: #52d1cd;
  padding: 0px 15px;
  border-radius: 0;
}
.products li {
  border: solid 1px #eeeeee;
  padding: 10px !important;
  text-align: center;
}
h1.product_title.entry-title{
  font-size: 25px !important;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #4d4749;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px !important;
  font-weight: bold!important;
  text-transform: none;
}
.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #52d1cd;
  font-size: 16px;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: transparent;
  color: #4d4749;
  font-size: 20px;
  border-radius: 0;
  font-family: 'Merienda One', cursive;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: transparent;
  color: #52d1cd;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 5px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .col2-set .col-1 {
   max-width: 100%;
}
.woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-left: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #ff7c93;
  padding: 12px;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a:hover{
  color: #4d4749;
}
span.woocommerce-input-wrapper,
.woocommerce label {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-account .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce .star-rating span{
  width: 100% !important;
}
.woocommerce .products .star-rating{
  margin: 5px auto; 
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 5px;
}
.woocommerce-Reviews #comments p{
  float: none;
}
.woocommerce .added_to_cart.wc-forward, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background: #ff7c93;
  color: #fff !important;
  font-size: 15px;
  border-radius: 0;
  font-family: 'Merienda One', cursive;
  opacity: 1 !important;
}
.woocommerce .added_to_cart.wc-forward:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #52d1cd;
  color: #fff;
}
.woocommerce .added_to_cart.wc-forward{
  padding: 5px 10px;
  margin-left: 12px;
  margin-top: 5px;
}
.woocommerce a.added_to_cart{
  padding-top: 0;
}
#footer .woocommerce #respond input#submit, #footer .woocommerce a.button, #footer .woocommerce button.button, #footer .woocommerce input.button, #footer .woocommerce #respond input#submit.alt, #footer .woocommerce a.button.alt, #footer .woocommerce button.button.alt, #footer .woocommerce input.button.alt {
  background: #52d1cd;
  color: #fff;
  font-size: 15px;
  border-radius: 0;
  font-family: 'Merienda One', cursive;
}
.related.products h2{
  text-align: left;
  margin: 0 0 25px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
  text-align: center; 
}
.woocommerce #reviews #comments h2{
  font-size: 25px;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #ffd400;
}
.woocommerce .select2-container--default .select2-selection--single , .woocommerce input#billing_phone{
  padding: 8px 0px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce input#billing_phone{
  padding: 10px;
  line-height: 1.5;
}
.woocommerce .select2-container .select2-selection--single, .woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
.admin-bar .home-page-header{
  margin-top: 32px;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
  padding: 10px;
}
.woocommerce-page form .password-input{
  width: 100%;
}
.woocommerce label {
  width: 100%;
}
.woocommerce nav.woocommerce-pagination ul li a {
  display: block;
  margin: 2px 2px 2px 0;
  padding: 12px 15px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #ff7c93;
  transition: background .15s ease-in-out;
  font-weight: bold;
}
.woocommerce nav.woocommerce-pagination ul li a:hover{
  background: #52d1cd;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
  padding: 12px 15px;
  background: #52d1cd;
  color: #fff;
  font-weight: normal;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
  border: none;
  float: none;
  overflow: unset;
}
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 20px;
}   
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 110px !important;
  padding: 10px 5px 5px !important;
  margin: 0px 10px 0px 0 !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: 30px;
}
.woocommerce #payment{
  margin: 0 0 30px 0;
}
/*cart and checkout css*/
.wp-block-woocommerce-cart .wc-block-cart__submit-button, .wc-block-components-checkout-place-order-button, .wc-block-components-totals-coupon__button{
  background: #ff7c93;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 10px;
  border: none !important;
  padding: 10px;
}
.wp-block-woocommerce-cart .wc-block-cart__submit-button:hover, .wc-block-components-checkout-place-order-button:hover{
  background: #f68121;
  color: #fff !important;
}
.wp-block-woocommerce-cart .wc-block-cart-items,.wp-block-woocommerce-cart-order-summary-block, .wp-block-woocommerce-checkout-order-summary-block{
  border: 1px solid #dee2e6!important;
  padding: 10px;
}
.wp-block-woocommerce-cart .wc-block-cart-items__header-image, .wc-block-cart-items__header-total{
  padding: 10px !important;
}
.wp-block-woocommerce-cart .wc-block-cart .wc-block-cart__submit-container{
  margin-top: 20px;
}
.wp-block-woocommerce-cart .wc-block-components-product-badge{
  background: #ff7c93;
  color: #1b1b1b !important;
  padding: 10px !important;
  margin-bottom: 10px;
  margin-top:10px ;
}
a.wc-block-components-product-name, .wc-block-components-product-name{
  font-size: 22px !important;
  color: #52d0cd !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}
.wc-block-components-order-summary-item__quantity{
  background: #ff7c93;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
  padding-right:0% !important;
}
.wp-block-woocommerce-cart.alignwide, .wp-block-woocommerce-checkout.alignwide.wc-block-checkout{
  margin-right: auto !important;
  margin-left: auto !important;
}
/* emty cart */
.wp-block-woocommerce-empty-cart-block li.wc-block-grid__product{
  border: 1px solid #dcdcdc;
  padding: 10px;
  max-width: 30.75% !important;
  float: left;
  margin: 0 3.8% 2.992em 0;
}
.wp-block-woocommerce-empty-cart-block .wc-block-grid__product-onsale{
  padding: 5px 10px !important;
  background: #ff7c93 !important;
  color: #fff !important;
  border-color: #ff7c93 !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  top: 5px !important;
  right: 5px !important;
  left: auto !important;
  margin: -0.5em -0.5em 0 0 !important;
}
.wp-block-woocommerce-empty-cart-block .wc-block-grid__product-title{
  font-size: 22px !important;
  color: #000 !important;
  font-weight: 600;
}
.wp-block-woocommerce-empty-cart-block a.wc-block-grid__product-link{
  text-decoration: none !important;
}
.wp-block-woocommerce-empty-cart-block a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart{
  padding: 10px 12px;
  border-radius: 8px !important;
  font-size: 16px;
}
.wp-block-woocommerce-empty-cart-block span.woocommerce-Price-amount.amount{
  font-size: 16px;
}
.wp-block-woocommerce-empty-cart-block h2.wp-block-heading.has-text-align-center{
  margin: 10px 0;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width:720px) {
  #sidebar h3, #sidebar .wp-block-search .wp-block-search__label{
    margin: 0px auto 10px auto;
  }
  .serach_inner form.search-form{
    max-width: 250px;
  }
  .serach_inner label {
    width: 80%;
  }
  .responsive-menu {
    margin-top: 0;
  }
  .logo,
  .search-box,
  #topbar{
    text-align:center;
  }
  #slider img{
    opacity: 0.6;
  }
  .mid-contact{
    border-bottom: 1px solid #eee;
  }
  #topbar .social_widget{
    text-align: left;
  }
  .carousel-inner:before{
    background: transparent;
    position: static;
    height: auto;
  }
  #slider .inner_carousel{
    border:none;
    position: static;
    height: auto;
  }
  #header{
    background: #ff7c93;
  }
  .logo img,.logo,
  .logo_outer_box{
    position: static;
    left: 0;
    transform: none;
  }
  .logo img{
    max-height: none;
    width: auto;
  }
  .logo_outer{
    border: none;
    width: auto;
    height: auto;
  }
  .cart_box,
  .cart_box:after{
    border: none;
    position: static;
    width: auto;
    height: auto;
  }
  .cart_box{
    padding: 7px;
  }
  .home-page-header{
    background: transparent;
    padding: 0;
  }
  .main-box{
    position: static;
    margin-top: 0;
  }
  #slider .inner-carousel-conetnt{
    position: static;
  }
  .search_form label {
    width: 83%;
  }
  #slider .inner_carousel p,
  .border-width{
    display:none;
  }
  #slider .inner_carousel h1{
    font-size: 22px;
    line-height: 30px;
  }
  .middle-align {
    padding: 20px 20px 20px;
  }
  .nav-links {
    margin-bottom: 20px;
  }
  .logo h1 a, .logo p.site-title a , p.site-description, .search-box i{
    color: #1b1b1b;
  }
  .woocommerce ul.products[class*=columns-] li.product, 
  .woocommerce-page ul.products[class*=columns-] li.product{
    width: 100%;
  }
  .cart_box:hover .widget_shopping_cart_content{
    top: auto;
  }
  .time{
    text-align: center;
  }
  body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed{
    margin-top: 0px !important;
  }
  #slider .carousel-caption {
    text-align: center !important;
    left: 0% !important;
    top: 30% !important;
    right: 0% !important;
  }
  tr.wc-block-cart-items__row {
    gap: 0.4em;
  }
  td.wc-block-cart-item__total{
      padding-left: 0px !important;
  }
  .wp-block-woocommerce-empty-cart-block li.wc-block-grid__product{
      max-width:100% !important;
      float:none;
      flex: 100% !important;
  }
}
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px solid #000;
  }
  .toggle-nav {
    display: none;
    cursor: pointer;
  }
  .toggle-nav i {
    font-size: 30px;
    color: #1b1b1b;
    padding: 10px;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
    padding: 0;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    display: block !important;
    color: #000;
    padding: 0;
    top: 0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: right;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: right;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-right: none;
    border-top: 1px solid #f1f1f1;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-left:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-left: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-left: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: left;
    display: inline;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    left: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .responsive-menu {
    display: block;
  }
  .admin-bar .home-page-header{
    margin-top: 0px;
  }
  .admin-bar .responsive-menu {
    margin-top: 46px;
  }
  .logo {
    padding: 5px;
  }
  #slider img {
    height: auto !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){ 
  .carousel-inner:before{
    top: -36px;
  }
  .time{
    text-align: center;
    padding: 25px;
  }
  .mid-contact{
    border-bottom: 1px solid #eee;
  }
  .logo img,.logo,
  .logo_outer_box{
    position: static;
    left: 0;
    transform: none;
    background: #f87c93;
  }
  .logo img{
    max-height: none;
    width: auto;
  }
  .logo_outer{
    border: none;
    width: auto;
    height: auto;
  }
  #slider .inner-carousel-conetnt{
    position: static;
  }
  .logo h1 a,
  p.site-description{
    color: #fff;
  }
  #slider .inner_carousel h1{
    font-size: 32px;
  }
  .cart_box:after{
    position: absolute;
  }
  #slider .inner_carousel{
    border:none;
    position: static;
  }
  #slider .inner_carousel p{
    display: none;
  }
  #slider .inner-carousel-conetnt{
    background: rgba(255, 255, 255 ,0.5);
    padding: 15px;
  }
  .home-page-header {
    background: transparent;
    padding-bottom: 0px;
  }
  #slider .carousel-caption {
    top: 38%;
  }
  .serach_inner form.search-form{
    max-width: 500px;
  }
  .serach_inner label {
    width: 80%;
  }
  body.admin-bar #mySidenav, body.admin-bar #mySidenav, body.page-template-custom-home-page.admin-bar .header-fixed, body.admin-bar .header-fixed{
    margin-top: 40px !important;
  }
  .custom-social-icons a{
    margin-left: 8px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
  .carousel-inner:before {
    height: 40px;
    top: -24px;
  }
  #slider .inner-carousel-conetnt {
    top: -8em;
  }
  #slider .carousel-caption {
    top: 40%;
  }
  #slider .inner_carousel h1 {
    margin-top: 0px;
  }
}